*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    align-items: center;
    max-height: 100vh;
    .text-content{
        padding: 40px;
        margin: auto;
    }

}